<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Campamento de Adolescentes 2017</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<nav class="#1b5e20 green darken-4">
		<div class="nav-wrapper">
			<a href="{{ url_for('index') }}" class="brand-logo">Grupos</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="{{ url_for('index') }}">Ver Grupos</a></li>
				<li><a href="{{ url_for('participante') }}">Registrar Participante</a></li>
				<li><a href="{{ url_for('iglesia') }}">Registrar Iglesia</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="{{ url_for('index') }}">Ver Grupos</a></li>
				<li><a href="{{ url_for('participante') }}">Registrar Participante</a></li>
				<li><a href="{{ url_for('iglesia') }}">Registrar Iglesia</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<div class="card-panel teal lighten-2">
					{{ message }}
				</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% block content %}
		{% endblock %}

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$(".button-collapse").sideNav();
		$("select").material_select();
	});
	</script>
</body>
</html>