{% macro render_field(field) %}
	{% if field.type == "BooleanField" %}
		<label>Estatura</label>
		<br><br>
		{{ field }} {{ field.label }}
	{% elif field.type == "RadioField" %}
		{{ field.label }}
		{% for subfield in field %}
			<p>
				{{ subfield }}
				{{ subfield.label }}
			</p>
		{% endfor %}
	{% elif field.type == "SelectField" %}
		{{ field.label }}
		<select>
		{% for o in field %}
			{{ o }}
		{% endfor %}
		</select>
	{% else %}
			{{ field.label }}
			{{ field(**kwargs)|safe }}
	{% endif %}
	{% if field.errors %}
		<ul>
			{% for error in field.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	
{% endmacro %}